@import "~variables.scss";
header {
  font-family: $font2;
  .logo-img {
    padding: 0;
    img {
      width: 80%;
      margin: 10%;
    }
  }
  nav {
    padding: 0px;
    ul {
      display: table;
      width: 90%;
      padding: 0px;
      float: left;
      height: 100%;
      margin: 0;
      li {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        list-style-type: none;
        background-image: url("../../../../assets/images/background3.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0px;
        a {
          text-decoration: none;
          color: #fff;
          padding: 30px 40px;
          text-align: center;
          margin: 0px;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .logo-img {
      width: 60%;
      margin: 0 auto;
    }
    nav {
      margin: 5px auto;
      ul {
        display: block;
        width: 100%;
      }
    }
  }
}
