  <header class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
        <a class="logo-img col-md-4" routerLink="/"><img src="../../../../assets/images/thejewelryshoplogo.png"></a>
        <nav class="col-md-8">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/new-arrivals">New&nbsp;Arrivals</a></li>
            <li><a routerLink="/about-us">About&nbsp;Us</a></li>
          </ul>
        </nav>
        <!--<app-search-bar></app-search-bar>-->
        </div>
      </div>
    </div>
  </header>

