<app-header></app-header>
<div class="gallery">
  <div class="bracelets">
    <h2>~ Bracelets ~</h2>
    <ul class="slick row">
      <li class="col-sm-4" *ngFor="let jewel of jewelry | slice: 0:6; let i=index">
        <app-thumbnails [jewel]="jewel"></app-thumbnails>
      </li>
    </ul>
  </div>

  <div class="earrings">
    <h2>~ Earrings ~</h2>
    <ul class="slick row">
      <li class="col-sm-4" *ngFor="let jewel of jewelry | slice: 7:12; let i=index">
        <app-thumbnails [jewel]="jewel"></app-thumbnails>
      </li>
    </ul>
  </div>

  <div class="necklaces">
    <h2>~ Necklaces ~</h2>
    <ul class="slick row">
      <li class="col-sm-4" *ngFor="let jewel of jewelry | slice: 13:18; let i=index">
        <app-thumbnails [jewel]="jewel"></app-thumbnails>
      </li>
    </ul>
  </div>

  <div class="rings">
    <h2>~ Rings ~</h2>
    <ul class="slick row">
      <li class="col-sm-4" *ngFor="let jewel of jewelry | slice: 19:24; let i=index">
        <app-thumbnails [jewel]="jewel"></app-thumbnails>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
