<header>
  <div class="header">
    <nav class="row">
          <ul class="col-md-4 left">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/new-arrivals">New&nbsp;Arrivals</a></li>
          </ul>
          <a class="logo-img col-md-2" routerLink="/"><img src="../../../../assets/images/thejewelryshoplogo.png"></a>
          <ul class="col-md-4 right">
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/about-us">About&nbsp;Us</a></li>
          </ul>
        </nav>
  </div>
</header>
