@import "~variables.scss";
header {
  font-family: $head;
  .header{
    margin: 0 auto;
    padding: 5px;
  }
  .logo-img {
    padding: 0;
    img {
      width: 100%;
      
    }
  }
  nav {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        list-style-type: none;
        background: #380679;
        margin: 5px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          padding: 20px;
        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  header {
    .logo-img {
      width: 60%;
      margin: 0 auto;
    }
    nav {
      margin: 5px auto;
      ul {
        display: block;
        width: 100%;
      }
    }
  }
}
