footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
        li {
            list-style-type: none;
            p {
                padding: 0px;
                margin: 0px;
            }
        }
    }

    .location {
        padding: 10px;
        margin: 10px;
        p {
            padding: 0px;
            margin: 0px;
        }
    }

    .social {
        margin: 10px;
        padding: 10px;
    }

    .hours {
        margin: 10px;
        padding: 10px;
    }

    
}