<footer class="container">
  <div class="info col-sm-9">
    <div class="row">
      <div class="location col-sm-5">
        <h2>~Location~</h2>
        <h4>The Jewelry Shop</h4>
        <p>111 Lorem Ipsum Way</p>
        <p>Lorem Ipsum, Ipsum, 33333</p>
        <p>000.000.0000</p>
      </div>
      <div class="social col-sm-2">
        <ul>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="hours col-sm-5">
        <h2>~Hours~</h2>
        <ul>
          <li>
            <p>Monday: 00:00 AM - 00:00 PM</p>
          </li>
          <li>
            <p>Tuesday: 00:00 AM - 00:00 PM</p>
          </li>
          <li>
            <p>Wednesday: 00:00 AM - 00:00 PM</p>
          </li>
          <li>
            <p>Thursday: 00:00 AM - 00:00 PM</p>
          </li>
          <li>
            <p>Friday: 00:00 AM - 00:00 PM</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
