@import "~variables.scss";
.gallery {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background-color: #fcfcff;
  border: 1px solid #380679;
}

h2 {
  color: #380679;
  margin: 0 20px;
  font-family: $head;
}
