<footer>
  <div class="info">
      <div class="hours col-sm-5">
          <h2>~Hours~</h2>
              <h4>Monday - Friday</h4>
              <p>8 AM - 5 PM</p>
              <h4>Saturday</h4>
              <p>12 pM - 4 PM</p>
        </div>
        <div class="social col-sm-2">
            <ul>
              <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      <div class="location col-sm-5">
        <h2>The Jewelry Shop</h2>
        <p>111 Lorem Ipsum Way</p>
        <p>Lorem Ipsum, Ipsum, 33333</p>
        <p>000.000.0000</p>
      </div>



  </div>
</footer>
