@import "~variables.scss";
footer {
  color: #fff;
  font-family: $body;
  width: 100%;

  p {
    padding: 0;
    margin: 0;
  }

  .info {
    padding: 10px 10px 0 10px;
    background: #380679;
    display: flex;
    justify-content: space-around;

    .hours {
      display: flex;
      flex-direction: column;
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-family: $head;
        font-size: 24px;
      }

      h4 {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding-top: 5px;
      }
    }

        .social {
          ul {
            li {
              a {
                font-size: 30px;
                text-decoration: none;
                color: #fff;
              }
            }
          }
        }

    .location {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        font-family: $head;
      }


    }
  }




}
