    <ngb-carousel>
  <template ngbSlide>
    <img class="hero-img" src="../../../../assets/images/Bracelets/bracelet.jpg" alt="First Slide">
    <!--<div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>-->
  </template>
  <template ngbSlide>
    <img class="hero-img" src="../../../../assets/images/Bracelets/drusy-bracelet.jpg" alt="Second Slide">
    <!--<div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>-->
  </template>
  <template ngbSlide>
       <img class="hero-img"  src="../../../../assets/images/Bracelets/quartz-bracelet.jpg" alt="Third Slide">
    <!--<div class="carousel-caption">
     <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>-->
  </template>
</ngb-carousel>